:root{
    --primary-color: #7779f3;
}

#banner-content span:after{
    content:"_";
    opacity:0;
    animation:cursor 1s infinite
}

@keyframes cursor{
    0%,100%,40%{
        opacity:0
    }
    50%,90%{
        opacity:1
    }
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Vollkorn', serif;
}

p, .section .container a{
    font-size: 22px;
    font-family: 'Alegreya', serif;
    font-display: swap;
}

.anchor{
    color: var(--primary-color);
}

.anchor:hover{
    color: #5759fd;
}

.algreya{
    font-family: 'Alegreya', serif;
    color: #717171;
    font-display: swap;
}

.vollkron{
    font-family: 'Vollkorn', serif;
    font-display: swap;
}

.section{
    padding-top: 65px;
    padding-bottom: 65px;
}

.in-section{
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: white;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: var(--primary-color);
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: var(--primary-color);
        text-decoration: none;
    }
}

#header-image{
    transform: skew(0deg, -7deg) translateY(-120px);
    margin-top: -10%;
    height: 85vh;
    background: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, #5759fd 100%);
    /* background-image: url(https://startbootstrap.com/assets/img/overlay.svg),linear-gradient(to right,var(--primary-color) 0%,#5759fd 100%);; */
}

#header-image #banner-content{
    margin-top: 35%;
    transform: skew(0deg, 7deg) translateY(120px);
}

#pages{
    background: var(--primary-color);
    background: linear-gradient(45deg, var(--primary-color) 0%, #5759fd 100%);
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    width: 50%;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: black;
    background-color: #fcfcfa;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.social-media-icon{
    margin: 5px;
    font-size: 20px;
}

.social-media-icon a{
    color: white;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}