<script src="{{ "public/js/scrollreveal.min.js" | relative_url }}"></script>
<script src="{{ "public/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "public/js/unitegallery.min.js" | relative_url }}"></script>
<script src="{{ "public/js/ug-theme-tiles.js" | relative_url }}"></script>
<script src="{{ "public/js/custom.js" | relative_url }}"></script>
<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal('.scroll-effect');

  $(document).ready(function(){ 
    $("#gallery").unitegallery(); 
  }); 
</script>
