<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Manifest file -->
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

  <!-- SEO -->
  <meta name="description" content="{{ page.description }}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% else %}
  <meta name="keywords" content="portfolio, resume, omkar pathak, python, HTML, CSS, software developer profession, profession pythonista, personal website, india, india freelancers, freelancer, mmcoe, mmcoe pune">
  {% endif %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'public/css/custom.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'public/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'public/css/unite-gallery.css' | relative_url }}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ 'public/icon-192x192.png' | relative_url }}">
  <link rel="icon" sizes="192x192" href="{{ 'public/icon-192x192.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ 'public/icon-192x192.png' | relative_url }}">
  <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Omii">
  <meta name="apple-mobile-web-app-title" content="Omii">
  <meta name="theme-color" content="#7a7cec">
  <meta name="msapplication-navbutton-color" content="#7a7cec">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Facebook Cards -->
  <meta property="og:description" content="{{ page.description }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}"/>
  {% else %}
  <meta property="og:image" content="https://i.imgur.com/FYxQwXN.jpg"/>
  {% endif %}
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Omkar Pathak"/>

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@omkarpathak27">
  <meta name="twitter:creator" content="Omkar Pathak">
  <meta name="twitter:title" content= "{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:creator" content="Omkar Pathak">
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image }}">
  {% else %}
  <meta name="twitter:image:src" content="https://i.imgur.com/FYxQwXN.jpg"/>
  {% endif %}
  <meta name="twitter:domain" content="https://www.omkarpathak.in">
</head>
