<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }} <span></span>
        </a>
      </h1>
      <p class="site-desc">{{ site.description }}</p>
      <hr>
      <!-- <p class="site-desc">{{ site.tagline }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ site.url }}"><span class="underline">HOME</span></a>
        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              {% if node.title != 'BEST OUTGOING STUDENT AWARD' %}
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><span class="underline">{{ node.title }}</span></a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <hr>

    <div style="font-size:30px;">
      <!-- <p style="font-size:20px; color: white;">Follow Me:</p> -->
      <ul style="list-style: none; margin: 0; padding: 0;">
        <li class="social">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://www.facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://www.quora.com/profile/{{ site.quora_username }}">
            <i class="fa fa-quora"></i>
          </a>
        </li>
        <li class="social">
          <a href="https://www.instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <p style="padding-bottom:0; margin: 0; text-align: center; font-size: 15px">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    <p style="margin: 0; padding:0; color: white; text-align: center;">
      <a href="{{ "downloads/OmkarResume.pdf" | relative_url }}" target="_blank">Resume | </a>
      <a href="http://old-website.omkarpathak.in/" target="_blank">Old Website</a>
    </p>
  </div>
</div>
