---
layout: page
title: BLOGS
description: I write blogs about my experiences with new technologies and softwares and the things that fascinate me
---

<div class="row text-center" data-aos="fade">
  <div class="col">
    <p>You can find all my blog posts <a href="{{ '/blog/archive/' | prepend:site.baseurl}}">here</a></p>
  </div>
</div>

<!-- post list -->
<div class="row">
{% for post in paginator.posts %}
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex align-items-stretch" data-aos="fade">
    <div class="card bg-light mb-3 text-dark" style="border-radius: 0;">
      <a href="{{ post.url | prepend:site.baseurl}}"><img class="card-img-top" src="{{ post.image | relative_url}}" alt="Card image cap" style="border-radius: 0;"></a>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.date | date_to_string }}</p>
        <a href="{{ post.url | prepend:site.baseurl}}">
          <button type="button" class="btn btn-outline-primary" style="border-radius: 0;">Read</button>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
</div>


<div class="row section">
  <div class="col-12">
    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo; Previous</a>
        </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">{{ page }}</a>
          </li>
        {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="{{ site.url }}{{ site.baseurl }}/blog/">{{ page }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="page-item">  <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Next &raquo;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
