---
layout: default
---

<div class="jumbotron-fluid section text-white text-center" id="pages">
  <div class="container section">
    <div class="post">
      <h1 class="post-title vollkron">{{ page.title }}</h1>
      <span>{{ page.date | date_to_string }}</span>
      {% assign num_words = content | number_of_words %}
      {% assign minutes = num_words | divided_by: 180 %}
      {% if num_words < 360 %}
        <span style="margin-left: 1%"><i class="fa fa-eye"></i> 1 min read</span>
      {% else %}
        <span style="margin-left: 1%"><i class="fa fa-eye"></i> {{ num_words | divided_by:180 }} mins read</span>
      {% endif %}
      <br>
      <div style="padding-top: 20px;">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/blog/tag/#{{ tag | slugify }}" class="button"> <i class="fa fa-tag" aria-hidden="true"></i> {{ tag }} </a>
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="section">
  <div class="container" data-aos="fade">
    {{ content }}
    <p>All content is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 License</a> unless otherwise specified</p>

    {% include social-share-buttons.html %}

    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </div>
</div>
<div style="margin-top: 3%;"></div>
